main {
    background-color: var(--escuro);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 3em 6em;
}

.pesquisa {
    align-items: center;
    display: flex;
    margin-bottom: 2em;
}

.pesquisa > input {
    border: none;
    border-radius: 1.625rem;
    font-size: medium;
    height: 3em;
    outline: none;
    padding: 0 3.5rem 0 1.5rem;
    width: 50%;
}

.pesquisa > button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: -3rem;
    outline: none;
}

h2 {
    font-size: 2em;
}

.filme {
    align-items: center;
    border-radius: .5em;
    display: grid;
    grid-column-gap: 2em;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
    margin-top: 2em;
    padding: 1em;
    transition: .3s all;
}

.filme:hover {
    background-color: var(--roxo-escuro);
}

.filme > a {
    grid-row: 1 / 9;
}

.thumb {
    border: 3px var(--escuro-medio) solid;
    border-radius: .5em;
    height: 250px;
    transition: .3s all;
    width: 200px;
}

.thumb:hover {
    border-color: var(--roxo);
}

.filme > li:first-of-type {
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
}

.filme > li {
    font-weight: 300;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .pesquisa > input {
        width: 80%;
    }

    main {
        padding: 3em 2em;
    }

    .filme {
        grid-row-gap: .5em;
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 767px) {
    main {
        padding: 2em 1em;
    }

    .pesquisa {
        justify-content: center;
    }

    .pesquisa > input {
        width: 60%;
    }

    h2 {
        text-align: center;
    }

    .filme {
        background-color: var(--roxo-escuro);
        grid-row-gap: 1em;
        grid-template-columns: 100%;
    }

    .filme > li:first-of-type {
        text-align: center;
    }

    .filme > a {
        justify-self: center;
    }

    .thumb {
        border: 3px var(--roxo) solid;
        border-radius: .5em;
        height: 300px;
        width: 250px;
    }
}
