footer {
    align-items: center;
    background-color: var(--escuro-medio);
    color: white;
    display: flex;
    font-size: 1em;
    justify-content: space-around;
    padding: 1em 0;
    width: 100%;
}

.midias {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

.midias > a > img {
    width: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .midias {
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    footer {
        flex-direction: column;
        row-gap: 2em;
    }
}
